# Lists

Lists are collections of items similar to lists in the real world. They include a number of different values, which may vary in their data type. A list can be looped over, duplicated, sliced, extended or shortened. Like all Sequence types, lists are indexed, starting with the number zero.

You will now learn how to create a list using square brackets. 
 
In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions

#### Creating lists

In [ ]:
### Create a list which contains three elements: 1, 2 and 3 
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [ ]:
# Create another list which contains the elements  23, 100.232, 'A' and 'hello' 

my_list = ['hello', 23, 100.232, 'A']
my_list

['hello', 23, 100.232, 'A']

In [ ]:
# Check the length of my_list 
len(my_list)

3

### Indexing and Slicing

In [ ]:
# Grab the element at index 0
my_list[0]

1

In [ ]:
# Grab everything in my_list starting from the second index
my_list[2:]

(3,)

In [ ]:
# use only : to Grab everything 
my_list[:]

(1, 2, 3)

In [ ]:
# use + to concatenate the list ['hello world'] to my_list 
print(my_list+ ['hello world'])

[1, 2, 3, 'hello world']

In [ ]:
# show that the original list did not change 
my_list

[1, 2, 3]

In [ ]:
# Reassign list by adding the list ['Hello World']
my_list = my_list + ['Hello world']

In [ ]:
# Show that my_list has changed
my_list

[1, 2, 3, 'Hello world']

##### Create repetition using the multiplication

In [ ]:
# multiply my_list by 2
my_list*2

[1, 2, 3, 'Hello world', 1, 2, 3, 'Hello world']

## Basic List Methods

In [ ]:
# Create a new list l that takes the numbers 1, 2 and 3 as elements 
l = [1, 2, 3]
l

[1, 2, 3]

Use the **append** method to add an element
to the end of a list:

In [ ]:
# Append 'hello' to the list l
l.append('hello')

In [ ]:
# Show that 'hello' has been appended
l

[1, 2, 3, 'hello']

 **pop** method to "pop" a desired element from the list.

In [ ]:
# Pop the second item
l.pop(1)

2

In [ ]:
# Show that the desired item has been popped
l

[1, 3]

In [ ]:
# default popped index is -1
popped_item = l.pop()

In [ ]:
popped_item

3

In [ ]:
# Show remaining list
l

[1]

#### use "*remove*" to remove an item by value

In [ ]:
# Do not forget that "remove" removes only the first value that matches the removing one. To delete all instances one must
# loop over the list using remove
PrgLanguages = ["Ruby", "Python", "Java", "C++", "Ruby"]
PrgLanguages.remove("Ruby")
PrgLanguages

['Python', 'Java', 'C++', 'Ruby']

In [ ]:
# Example of a looping while using remove
PrgLanguages = ["Ruby", "Python", "Java", "C++", "Ruby"]
for language in PrgLanguages :
    if language == "Ruby" :
        PrgLanguages.remove(language)
    
PrgLanguages

['Python', 'Java', 'C++']

#### Using "del" for deletion

In [ ]:
# Del is used when you know exactly where the element is that you want to delete (index)
PrgLanguages = ["Ruby", "Python", "Java", "C++", "Ruby"]
del PrgLanguages [3]
print (PrgLanguages)

['Ruby', 'Python', 'Java', 'Ruby']

######  **sort** method and the **reverse** method

In [ ]:
new_list = ['a','e','x','b','c']

In [ ]:

new_list

['a', 'e', 'x', 'b', 'c']

In [ ]:
# reverse the order of the list new_list
new_list.reverse()

In [ ]:
new_list

['c', 'b', 'x', 'e', 'a']

In [ ]:
# Use sort to sort the list
new_list.sort()

In [ ]:
new_list

['a', 'b', 'c', 'e', 'x']

## Nesting Lists

In [ ]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [ ]:
# Show that the matrix has been formed
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
# Grab the second item in the matrix
matrix[1]

[4, 5, 6]

In [ ]:
# Grab the second element of the first item of the matrix
matrix[0][1]

2

# List Comprehensions


[ (expression) for (element) in (iterable) ]

There's also an optional 'if' condition:

[ (expression) for (element) in (iterable) if (condition) ]

In [ ]:
# Build a list of squares
squares = [x * x for x in (1 , 2, 3, 4)]

In [ ]:
# show squares
squares

[1, 4, 9, 16]