# Dictionaries

   Dictionaries consist of key-value pairs that are unordered, indexed and accessible through the key. While the values can all 
   have different data types, the key must always be a string. Keys are always unique but the values can be duplicated.

   
   
   Dictionaries are mapping types.



    1.) Creating a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods
    5.) Dict Comprehension



## Creating a Dictionary
    
Dictionaries are defined through curly brackets ({}). The key-value pairs are then sperated through a colon (:).

In [ ]:
# Make an empty dictionary
example =  {}  

# create my_dict with the keys 'key1', 'key2' and 'key3' as well as the corresponding values 'value1', 'value2' and 'value3'
example ={'key1':'value1','key2':'value2','key3':'value3'}

In [ ]:
# Check the value of any key
example['key2']

'value2'

In [ ]:
# make a list with three different values of different data types and use these types to replace each value in the dictionary

list = [69, [10, 20, 30], ['item0', 'item1', 'item2']]

example['key1'] = list[0]
example['key2'] = list[1]
example['key3'] = list[2]
example

{'key1': 69, 'key2': [10, 20, 30], 'key3': ['item0', 'item1', 'item2']}

In [ ]:
# Check the value of key3

example['key3']

['item0', 'item1', 'item2']

In [ ]:
# Try to access the key of 69
example[69]
#Can only use keys to access values, not the other way round

KeyError: ignored

In [ ]:
# Use the method upper() on the first item of the list stored in key3 (from "item0" to "ITEM0")
example['key3'][0].upper()

'ITEM0'

We can affect the values of a key as well. For instance:

In [ ]:
example['key1']

69

In [ ]:
# Subtract 69 from the value of key1. Make the changes permanent
example['key1'] = example['key1']-69

In [ ]:
# Check whether or not it really did change
example['key1']

0

 instead we can use  += or -=

In [ ]:
# Set the object equal to itself minus 123 
example['key1']-=123
# Code here
example['key1']

-123

In [ ]:
# Create a new dictionary
newDict = {}

In [ ]:
# Create a new key through assignment - Let the key be "animal" and the value "dog"
newDict['animal']='Dog'

In [ ]:
# Create a key "answer" with the value 42 (Integer)
newDict['answer']=42

In [ ]:
#Show
newDict

{'animal': 'Dog', 'answer': 42}

## Nesting with Dictionaries

In [ ]:
# You can store dictionaries in dictionaries
dict1={'name':'Hannes', 'age':23}
dict2={'name': 'Haya','age':10}
dict3={'name':'peter','age':25}
dict_name=[dict1,dict2,dict3]
dict_name[0]['name']

'Hannes'

Let's see  **a list in a dictionary**

In [ ]:
# The value must not always be a single element. It can also be a list
dict_name={'name':['Hannes','Haya','peter']}
dict_name['name'][1]

'Haya'

In [ ]:
dict_name={'name':['Hannes','Haya','peter'],'age':[11,12,45]}
name=dict_name['name'][1]
age=dict_name['age'][1]
print(name+' is'+' '+str(age))

Haya is 12

**A dictionary in a dictionary**

you can nest a dictionary inside another dictionary

In [ ]:
# Dictionary nested inside a dictionary which is nested inside a third dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [ ]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

##  Dictionary Methods

In [ ]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [ ]:
# use the Method 'x.keys()' to return a list of all keys  
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [ ]:
# use the Method 'x.values()' to grab all values 
d.values()

dict_values([1, 2, 3])

In [ ]:
# use the Method 'items()' to return tuples of all key and values
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [ ]:
# create a copy from the Dictionary 

d2=d.copy()

In [ ]:
d2

{'key1': 1, 'key2': 2, 'key3': 3}

In [ ]:
# clear the dictionary 
d2.clear()

# show d2
d2

{}

In [ ]:
# try to delete d2 from the dictionary  
del(d2)
d2

In [ ]:
# create a list with the elements name and age
# Store the Elements of the list as keys in a dictionary 
L=['name','age']

#code here  
d3=dict.fromkeys(L)
# check d3
d3   # the values of the keys are none

{'name': None, 'age': None}

In [ ]:
# add values for the keys
d3['name']='Lisa'
d3['age']=3

# show d3
d3

{'name': 'Lisa', 'age': 3}

## Dict Comprehensions

In [ ]:
# create a dict with fruits' names as keys for a dictionary and the values with the length of the key
fruits = ['apple', 'mango', 'banana','cherry'] 
dd={ i:len(i)     for i in fruits}

dd

{'apple': 5, 'mango': 5, 'banana': 6, 'cherry': 6}