# Tuples
    
Tuples look and act just like lists. Their items can be accessed just the way they would be in lists. The only difference 
between them is that, once created these tuples can not be changed. This means that removing as well as adding items is 
impossible with tuples.





    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples.


## Create Tuples

A tuple is indicated by using common bracets - (). Just like with lists, values are seperated through commas.

In [ ]:
#  create a tuple t with 1, 2 and 3 as elements
tup = (1, 2, 3)

In [ ]:
# Check the length of tup
len(tup)

3

In [ ]:
# Create a tuple t which contains the elments "one" and 2 
tup = ('one',2)

# Show that it works
tup

('one', 2)

In [ ]:
# Use indexing just like we did with lists

tup[0]

'one'

In [ ]:
# Use slicing the way we used it on lists
tup[-1]

2

## Basic Tuple Methods

Just like lists, tuples have built-in methods e.g.index, count ...

In [ ]:
# Find the index of 'one' in t up
tup.index('one')

0

In [ ]:
# Use count() to count the amount 'one' occurs in tup

tup.count('one')

1

## Immutability

Just like strings, tuples are immutable, meaning that after creation it can not be changed without reassigning the whole tuple

In [ ]:
tup[0]= 'hi'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# use the append() method to insert new elements in t

tup.append(3)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
tup = ('one', 2, 3)
tup

('one', 2, 3)